
.navbar-1 {
    display: flex;
    justify-content: row;
    justify-content: flex-end;
    background-color: rgba(35, 47, 62);
}

.navbar-1 a {
    margin: 15px;
    color: white;
}

.navbar-2 {
    padding-top: 10px;
    display: flex;
    justify-content:space-around;
    padding-right: 30px;
    padding-bottom: 15px;
    background-color: rgba(35, 47, 62);
}

.navbar-2 a {
    color: white;
}
